@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.contenedor {
	width: 90%;
	max-width: 800px;
	margin: auto;
}

 /* Banner*/
section{
    padding: 100px;
}
.banner
{
    position: relative;
    min-height: 100vh;
    background-image:  url(../img/banner1.svg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;

}
.banner h2 span
{
    font-size: 1.5em;
    font-weight: 700;

}
.banner h3
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;

}
.btn
{
    position: relative;
    background: #576574;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 4px;
}
.icon
{
    position: relative;
    clip-path: circle(50% at 50% 50%);
    color: #fff;
    margin-top: 22px;
    padding: 30px 25px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

 /*-- header --*/

 nav
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}
nav.sticky
{
	 background: #fff;
	 padding: 20px 100px;
	 box-shadow: 0 5px 20px rgb(0, 0,0,0.1);
}
nav .logo
{
	color:#fff;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
}
nav.sticky .logo
{
	color: #111;
}
nav ul
{
	position: relative;
	display: flex;
}
nav ul li
{
	position: relative;
	list-style: none;
}
nav ul li a
{
	position: relative;
	display: inline-block;
	margin: 0 15px;
	font-size: 17px;
	color: #fff;
	text-decoration: none;
}
nav.sticky ul li a
{
   color: #111;
}

nav ul.lang-menu {
   width: 100px;
   text-align: right;
   position: relative;
}
nav ul.lang-menu .selected-lang {
   display: flex;   
   justify-content: space-between;
   line-height: 2;
   cursor: pointer;
}
nav ul.lang-menu .selected-lang:before {
   content: '';
   display: inline-block;
   width: 24px;
   height: 24px;
   margin-left: 2px;
   margin-right: px;
   background-image: url(../img/languages.png);
   background-size: contain;
   background-repeat: no-repeat;
}
nav ul.lang-menu ul {
   margin: 0;
   padding: 0;
   display: none;
   background-color: #fff;
   border: 1px solid #f8f8f8;
   position: absolute;
   top: 45px;
   right: 0px;
   width: 125px;
   border-radius: 5px;
   box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}
nav.sticky ul .lang-menu ul {
   margin: 0;
   padding: 0;
   display: none;
   background-color: #fff;
   border: 1px solid #f8f8f8;
   position: absolute;
   top: 26px;
   right: 0px;
   width: 125px;
   border-radius: 5px;
   box-shadow: 0px 1px 10px rgba(0,0,0,0.2);

}
nav ul.lang-menu ul li {
   list-style: none;
   text-align: left;
   display: flex;
   justify-content: space-between;
}
nav ul.lang-menu ul li a {
   text-decoration: none;
   width: 125px;
  
   padding: 5px 10px;
   color: #222;
   
}
nav ul.lang-menu ul li:hover {
   background-color: #f2f2f2;
   
}
nav ul.lang-menu ul li a:before {
   content: '';
   display: inline-block;
   width: 25px;
   height: 25px;
   vertical-align: middle;
   margin-right: 10px;
   background-size: contain;
   background-repeat: no-repeat;
}

.es:before {
   background-image: url(https://www.countryflags.io/sv/flat/32.png);
}

.en:before {
   background-image: url(https://www.countryflags.io/us/flat/32.png);
}

nav ul.lang-menu:hover ul {
   position:fixed;
   margin-top: 30px;
   margin: 30px;
   display: block;
}

 /*-- about --*/
 .heading
 {
     width: 100%;
     text-align: center;
     margin-bottom: 30px;
     color: #111;

 }
 .heading h2
 {
     font-weight: 600;
     font-size: 30px;
 }
 .content
 {
     display: flex;
     justify-content: space-between;
 }
 .contentBx
 {
     padding-right: 30px;
 }
 .contentBx h3
 {
     font-size: 24px;
     margin-bottom: 10px;
 }
 .w50
 {
     min-width: 50%;
 }
 img{
     max-width: 100%;
 }
/*services*/
.services
{
    background: #9477c4; 

}
.heading.white
{
color: #fff;
}
.services .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .content .servicesBx
{
    padding: 40px 20px;
    background: #fff;
    color: #222;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
}
.services .content .servicesBx:hover
{
    background: #2196f3;
}
.services .content .servicesBx img
{
    max-width: 80px;
    filter: invert(-1);
}
.services .content .servicesBx h2
{
    font-size: 20px;
    font-weight: 600;
}
/*--- work  ---*/

header {
	padding: 40px 0;
}

header .logo {
	text-align: center;
	margin-bottom: 40px;
}

header .logo p {
	color: #9B9B9B;
}

header form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

header .barra-busqueda {
	width: 70%;
	height: 40px;
	line-height: 40px;
	background: #9B9B9B;
	padding: 0 20px;
	border-radius: 100px;
	border: none;
	text-align: center;
	font-size: 16px;
}

header .categorias {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

header .categorias a {
	color: #9B9B9B;
	margin: 10px 20px;
	font-size: 18px;
	font-weight: 700;
}

header .categorias a.activo {
	color: #000;
}

/* ------------------------- */
/* Grid */
/* ------------------------- */

.grid {
	position: relative;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
	opacity: 1;
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	width: calc(33.333333% - 20px);
}

.grid .item-contenido {
	position: relative;
}

.grid .item img {
	width: 100%;
     size: 50px;
	cursor: pointer;
	vertical-align: top;
}

/* ------------------------- */
/* Overlay */
/* ------------------------- */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.9);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.overlay.activo {
	display: flex;
    
}

.overlay img {
    height: 300px;
	max-width: 100%;
}

.overlay .descripcion {
	display: block;
	background: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 5px;
	border-radius: 10px;
	max-width: 50%;
}

.contenedor-img {
	position: relative;
}

.overlay #btn-cerrar-popup {
	background: none;
	font-size: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -20px;
}

/*-- testimonial --*/
.testimonial
{
    background: #f7f7f7;
}
.testimonial .content
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimonial .content .testimonialBx
{
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #2c3e50;

}
.testimonial .content .testimonialBx p
{
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}
.testimonial .content .testimonialBx h3
{
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
}
.testimonial .content .testimonialBx h3 span
{
    font-size: 14px;
    font-weight: 400;
}
/*--Contact*/
.contact
{
    background: #9477c4; 
}
.formBx
{
    min-width: 60%;
}
.formBx form
{
    display: flex;
    flex-direction: column;
}
.formBx form h3,
.contactInfo h3
{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formBx form input,
.formBx form textarea
{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #2c3e50;
    color: #fff;
    resize: none;
}
.formBx form textarea
{
    min-height: 200px;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder
{
    color: #7f8c8d;
}
.formBx form input[type="submit"]
{
    max-width: 100px;
    background: #2c3e50;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contactInfo
{
    min-width: 40%;
}
.contactInfoBox
{
    position: relative;
}

.contactInfoBox .box
{
    position: relative;
    padding: 20px 0;
    display: flex;

}
.contactInfoBox .box .icon
{
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;

}
.contactInfoBox .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 600;

}
.contactInfoBox .box .text h3
{
    font-weight: 500;
    color: #2d3436;
    margin-bottom: 0;
}
.copyright
{
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* ------------------------- */
/* Mediaqueries */
/* ------------------------- */
@media (max-width: 991px)
{
    nav,
    nav .sticky
    {
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu
    {
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        z-index: 999;
        border-top: 1px solid rgb(0, 0,0,0.2);

    }
    .menu.active
    {
        left: 0;
    }
    nav ul li a 
    {
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle
    {
        width: 40px;
        height: 40px;
        background: url(/img/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active
    {
        background: url(/img/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    nav.sticky .toggle
    {
        filter: invert(1);
    }
    nav.lang-menu .selected-lang{
        display: block;
    }
       
    
    section{
        padding: 100px 50px;
    }
    .banner
    {
        padding: 150px 50px 100px;
    }
    .banner h2
    {
        font-size: 1.5em;
    }
    .banner h3
    {
        font-size: 1em;
    }
    .btn
    {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;

    }
    .heading h2
    {
        font-size: 24px;
    }
    .contentBx h3 
    {
        font-size: 20px;
    }
    .content
    {
        flex-direction: column;
    }
    .w50
    {
        margin-bottom: 20px;
    }
    .services .content .servicesBx
    {
        margin: 10px;
    }
    .testimonial .content .testimonialBx
    {
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 10px;
        background: #2196f3;
    }
    .testimonial .content .testimonialBx h3 
    {
        margin-top: 20px;
    }
    .contactInfo
    {
        min-width: 40%;
        margin: 20px 0;
    }
}
@media screen and (max-width: 700px) {
	.work .heading .grid .item {
		width: calc(50% - 20px);
	}

	.work .heading .barra-busqueda {
		width: 100%;
	}
}

@media (max-width:600px)
{
    nav,
    nav.sticky
    {
        padding: 20px 20px;   
    }
    .banner
    {
        padding: 150px 20px 100px;
    }
    section {
        padding: 100px 20px;
    }

}

@media screen and (max-width: 700px) {
	.grid .item {
		width: calc(50% - 20px);
	}

	header .barra-busqueda {
		width: 100%;
	}
}
